.footer-wrapper {
  background-color: #F6F7FB;
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
}
.footer-icon {
  width: 32px;
  height: 32px;
}
.footer-icons {
  display: flex;
  justify-content: space-between;
}
.footer-link {
  text-decoration: none;
  color: black;
}